.git/
.wrangler/
build/
node_modules/
src/

*.png
*.svg
*.woff2

CHANGELOG.txt
CHANGELOG.md
custom/v8s-links.txt
defaults/v8s-links.txt
defaults/public/_headers
defaults/public/llms.txt
defaults/public/llms-full.txt
defaults/public/robots.txt
